:root {
  --container-bgColor: rgb(34, 34, 34);
  --form-bgColor: rgb(28, 28, 28);
  --footer-bgColor: rgb(33, 37, 41);
  --link-hoverColor: gold;
  --borderRadius: 25px;
  --linear: linear-gradient(to right, #e21143, #ffb03a) 1;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar a:hover {
  color: var(--link-hoverColor) !important;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

h2 {
  font-size: clamp(1rem, 4vw, 1.5rem);
}

h3 {
  font-size: clamp(0.9rem, 3vw, 1.25rem);
}

h4 {
  font-size: clamp(0.8rem, 2vw, 0.8rem);
}

p {
  font-size: clamp(0.8rem, 1.25vw, 1rem);
}

ul,
li {
  list-style: none;
}

.wrapper {
  background: var(--container-bgColor);
}

.main-container {
  min-height: 100vh;
  width: min(80%, 100vw);
  margin-inline: auto;
  color: #fff;
  padding: 2rem 0;
  margin-top: 60px;
}

footer {
  background: var(--footer-bgColor);
  text-align: center;
  padding: 1rem;
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid transparent;
  border-style: solid;
  border-image: var(--linear);
}

.not-found {
  text-align: center;
}

/* Bootstrap */
.container-fluid {
  width: min(90%, 100vw);
  margin-inline: auto;
}

.navbar {
  border-bottom: 1px solid rgba(245, 245, 245, 0.1);
}

.navbar-brand {
  background: -webkit-linear-gradient(60deg, #e21143, #ffb03a);
  -webkit-background-clip: text;
  color: transparent;
}

.auth {
  margin-left: auto;
}

.form-container {
  margin-top: 30px;
  width: min(90%, 100vw);
  margin-inline: auto;
  background-color: var(--form-bgColor);
  padding: 2rem;
  border-radius: var(--borderRadius);
}

.form-container > h1 {
  margin-bottom: 2rem;
}

.form-container .form-outline:last-of-type {
  padding-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  .form-container {
    width: min(40%, 100vw);
  }
}

.btn {
  width: min(100%, 100vw);
}

.cancel a {
  color: #fff;
}

.listings-wrapper {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(90%, 100vw);
  margin-inline: auto;
}

.listings {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin: 0.5rem;
}

.all-listings {
  text-align: center;
}

.my-listing {
  margin-top: 30px;
  align-items: center;
  width: min(90%, 100vw);
  margin-inline: auto;
}

@media screen and (min-width: 900px) {
  .my-listing {
    width: min(50%, 100vw);
  }
}

strong {
  color: cornflowerblue;
}

.card-body {
  color: black;
}

.icon-wrapper {
  display: flex;
  justify-content: space-around;
}

.icon-wrapper .bi {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-style: normal;
}

.card .btn {
  margin-top: 1rem;
}

.btn-delete {
  border: none;
  background-color: transparent;
}

.btn-delete:hover {
  color: red;
}

.location,
.date-posted {
  font-weight: 500;
  color: dimgray;
}

.date-posted {
  padding: 0;
}

.add-review-wrapper {
  width: min(90%, 100vw);
  margin-inline: auto;
}

@media screen and (min-width: 900px) {
  .add-review-wrapper {
    width: min(50%, 100vw);
  }
}

.add-review {
  margin-top: 1rem;
  display: flex;
}

.review-cards-wrapper {
  padding: 1rem 0;
  display: grid;
  grid-column-gap: 1rem;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: min(90%, 100vw);
  margin-inline: auto;
}

.review-cards-wrapper .card-text,
.review-cards-wrapper p {
  font-style: italic;
}

.my-listing .header-title {
  color: black;
  width: min(90%, 100vw);
  margin-top: 1rem;
  margin-inline: auto;
}

#map {
  width: min(90%, 100vw);
  height: 300px;
  margin-top: 1rem;
  margin-inline: auto;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgb(255, 255, 255);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
